
    <table class="table table-bordered table-striped table-hover text-nowrap">
        <thead>
            <tr>
                {#<th>Id</th>#}
                <th>Lote</th>
                <th>Aurrekontua</th>
                <th>Adjudikazioa</th>
                <th>Sinadura</th>
                <th>Iraupena</th>
                <th>Amaitua</th>
                <th>Prorroga 1</th>
                <th>Prorroga 2</th>
                <th>Prorroga 3</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for kontratua_lote in kontratua_lotes %}
            <tr>
                <td>{{ kontratua_lote.name }}</td>
                <td class="text-right">{{ kontratua_lote.aurrekontuaIva | format_currency('EUR') }}</td>
                <td class="text-right">{{ kontratua_lote.adjudikazioaIva | format_currency('EUR')  }}</td>
                <td class="text-center">{{ kontratua_lote.sinadura ? kontratua_lote.sinadura|date('Y-m-d') : '' }}</td>
                <td class="text-center">{{ kontratua_lote.fetxaIraupena ? kontratua_lote.fetxaIraupena|date('Y-m-d') : '' }}</td>
                <td>{% if kontratua_lote.amaitua %}<span class="badge badge-success">Bai</span>{% else %}<span class="badge badge-danger">Ez</span>{% endif %}</td>
                <td class="text-center">{{ kontratua_lote.prorroga1 ? kontratua_lote.prorroga1|date('Y-m-d') : '' }}</td>
                <td class="text-center">{{ kontratua_lote.prorroga2 ? kontratua_lote.prorroga2|date('Y-m-d') : '' }}</td>
                <td class="text-center">{{ kontratua_lote.prorroga3 ? kontratua_lote.prorroga3|date('Y-m-d') : '' }}</td>
                <td class="text-center">
                    <ul class="list-inline">
                        <li class="list-inline-item">
{#                            <a class="btn btn-xs btn-primary" href="{{ path('saila_edit', {'id': saila.id}) }}"><i class="fas fa-edit"></i></a>#}
{#                            <a class="btnLoteEditInModal" href="{{ path('kontratua_lote_edit', {'id': kontratua_lote.id}) }}"><i class="fas fa-edit"></i></a>#}
                            <a data-id="{{ kontratua_lote.id }}" class="btnLoteEditInModal" href="#"><i class="fas fa-edit"></i></a>
                        </li>
                        <li class="list-inline-item">
                            {{ include('kontratua_lote/_delete_form.html.twig') }}
                        </li>
                        <li>
                            <a href=""></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">{{ "no records found" | trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
