{% extends 'base.html.twig' %}

{% block title %}Erabiltzailea{% endblock %}

{% block body %}
    <h1>Erabiltzailea</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ erabiltzailea.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ erabiltzailea.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ erabiltzailea.roles ? erabiltzailea.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Deparment</th>
                <td>{{ erabiltzailea.deparment }}</td>
            </tr>
            <tr>
                <th>Displayname</th>
                <td>{{ erabiltzailea.displayname }}</td>
            </tr>
            <tr>
                <th>Dn</th>
                <td>{{ erabiltzailea.dn }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{{ erabiltzailea.enabled ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ erabiltzailea.firstname }}</td>
            </tr>
            <tr>
                <th>Hizkuntza</th>
                <td>{{ erabiltzailea.hizkuntza }}</td>
            </tr>
            <tr>
                <th>Lanpostua</th>
                <td>{{ erabiltzailea.lanpostua }}</td>
            </tr>
            <tr>
                <th>Ldapsaila</th>
                <td>{{ erabiltzailea.ldapsaila }}</td>
            </tr>
            <tr>
                <th>Nan</th>
                <td>{{ erabiltzailea.nan }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ erabiltzailea.notes }}</td>
            </tr>
            <tr>
                <th>Sailburuada</th>
                <td>{{ erabiltzailea.sailburuada ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ erabiltzailea.email }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ erabiltzailea.surname }}</td>
            </tr>
            <tr>
                <th>LdapTaldeak</th>
                <td>{{ erabiltzailea.ldapTaldeak ? erabiltzailea.ldapTaldeak|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>LdapRolak</th>
                <td>{{ erabiltzailea.ldapRolak ? erabiltzailea.ldapRolak|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ erabiltzailea.Password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('erabiltzailea_index') }}">back to list</a>

    <a href="{{ path('erabiltzailea_edit', {'id': erabiltzailea.id}) }}">edit</a>

    {{ include('erabiltzailea/_delete_form.html.twig') }}
{% endblock %}
